/***
***
Universal Styles
***
***/

body {
  background-color: #37474f;
}

p, h2, h3 {
  color: #cfd8dc;
}

#temperature {
  font-size: 40px;
  margin: 0;
}

#weather {
  font-size: 20px;
  margin: 0;
}

#icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

#disable {
  margin-top: 15px;
  margin-bottom: 15px;
}

/***
***
materialize.css overrides
***
***/

.row {
  margin-bottom: 0px;
}

.btn-small {
  color: #cfd8dc;
  text-transform: none;
  background-color: #607d8b;
}

.btn-small:hover {
  background-color: #b0bec5;
}
